#header1{
    padding-left: 10px;
    font-family: 'Montez', cursive; 
    color: blue;
    font-size: 50px;
   
    

}
#header2{
    padding-left: 10px;
    font-family: 'Ubuntu Mono', monospace;
}
    
#signup-btn{
    position: fixed;
    top: 20px;
    right: 100px;
    background-color: blue;
    color: white;
    border: 0;
    padding:10px;
    
}
#signin-btn{
    position: fixed;
    top: 20px;
    right: 30px;
    background-color: blue;
    color: white;
    border:0;
    padding:10px;
}body{
    background-color: #ffeedd;
}
